template.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "workflows_Scheduler_ANF_Snapshots_v2_name": {
      "defaultValue": "Scheduler-ANF-Snapshots-v2",
      "type": "String"
    },
    "Subscription ID": {
      "defaultValue": "",
      "type": "String"
    },
    "Resource Group": {
      "defaultValue": "",
      "type": "String"
    },
    "NetApp Account Name": {
      "defaultValue": "",
      "type": "String"
    },
    "Resource Location": {
      "defaultValue": "westeurope",
      "type": "String"
    },
    "Capacity Pool": {
      "defaultValue": "",
      "type": "String"
    },
    "Volumes": {
      "defaultValue": ["vol01", "vol02"],
      "type": "Array"
    },
    "Snapshot Prefix": {
      "defaultValue": "daily",
      "type": "String"
    },
    "Scheduled Frequency": {
      "defaultValue": "Day",
      "type": "String"
    },
    "Scheduled Interval": {
      "defaultValue": "1",
      "type": "String"
    },
    "Scheduled Start Time": {
      "defaultValue": "2019-06-27T00:00:00Z",
      "type": "String"
    },
    "Snapshot Retention": {
      "defaultValue": "7",
      "type": "String"
    }
  },
  "variables": {},
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('workflows_Scheduler_ANF_Snapshots_v2_name')]",
      "location": "[parameters('Resource Location')]",
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {},
          "triggers": {
            "Recurrence": {
              "recurrence": {
                "frequency": "[parameters('Scheduled Frequency')]",
                "interval": "[int(parameters('Scheduled Interval'))]",
                "startTime": "[parameters('Scheduled Start Time')]",
                "timeZone": "GMT Standard Time"
              },
              "type": "Recurrence"
            }
          },
          "actions": {
            "Check_for_final_job_status_and_report_status": {
              "actions": {
                "Terminate": {
                  "runAfter": {},
                  "type": "Terminate",
                  "inputs": {
                    "runStatus": "Succeeded"
                  }
                }
              },
              "runAfter": {
                "For_each_ANF_volume_-_Run_logic": ["Succeeded"]
              },
              "else": {
                "actions": {
                  "Terminate_and_report_error": {
                    "runAfter": {},
                    "type": "Terminate",
                    "inputs": {
                      "runError": {
                        "code": "201",
                        "message": "@variables('errorMessage')"
                      },
                      "runStatus": "Failed"
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "equals": ["@variables('stateOK')", true]
                  }
                ]
              },
              "type": "If"
            },
            "For_each_ANF_volume_-_Run_logic": {
              "foreach": "@variables('volName')",
              "actions": {
                "HTTP_-_Create_snapshot_on_target_ANF_volume": {
                  "runAfter": {
                    "Parse_JSON_-_Get_snapshots_on_the_target_volume": [
                      "Succeeded"
                    ]
                  },
                  "type": "Http",
                  "inputs": {
                    "authentication": {
                      "type": "ManagedServiceIdentity"
                    },
                    "body": {
                      "location": "@body('Parse_JSON_-_Get_snapshots_on_the_target_volume')?['location']",
                      "properties": {
                        "fileSystemId": "@body('Parse_JSON_-_Get_snapshots_on_the_target_volume')?['properties']?['fileSystemId']"
                      }
                    },
                    "method": "PUT",
                    "uri": "https://management.azure.com/subscriptions/@{variables('subscriptionId')}/resourceGroups/@{variables('resourceGroup')}/providers/Microsoft.NetApp/netAppAccounts/@{variables('netappAccount')}/capacityPools/@{variables('capacityPool')}/volumes/@{items('For_each_ANF_volume_-_Run_logic')}/snapshots/@{variables('snapshotName')}?api-version=2019-11-01"
                  }
                },
                "HTTP_-_Get_snapshots_on_the_target_volume": {
                  "runAfter": {
                    "Parse_JSON_-_Retrieve_target_volume_fileSystemId": [
                      "Succeeded"
                    ]
                  },
                  "type": "Http",
                  "inputs": {
                    "authentication": {
                      "type": "ManagedServiceIdentity"
                    },
                    "method": "GET",
                    "uri": "https://management.azure.com/subscriptions/@{variables('subscriptionId')}/resourceGroups/@{variables('resourceGroup')}/providers/Microsoft.NetApp/netAppAccounts/@{variables('netappAccount')}/capacityPools/@{variables('capacityPool')}/volumes/@{items('For_each_ANF_volume_-_Run_logic')}?api-version=2017-08-15"
                  }
                },
                "HTTP_-_Retrieve_target_volume_fileSystemId": {
                  "runAfter": {},
                  "type": "Http",
                  "inputs": {
                    "authentication": {
                      "audience": "https://management.azure.com/",
                      "type": "ManagedServiceIdentity"
                    },
                    "method": "GET",
                    "uri": "https://management.azure.com/subscriptions/@{variables('subscriptionId')}/resourceGroups/@{variables('resourceGroup')}/providers/Microsoft.NetApp/netAppAccounts/@{variables('netappAccount')}/capacityPools/@{variables('capacityPool')}/volumes/@{items('For_each_ANF_volume_-_Run_logic')}?api-version=2017-08-15"
                  }
                },
                "Parse_JSON_-_Get_snapshots_on_the_target_volume": {
                  "runAfter": {
                    "HTTP_-_Get_snapshots_on_the_target_volume": ["Succeeded"]
                  },
                  "type": "ParseJson",
                  "inputs": {
                    "content": "@body('HTTP_-_Get_snapshots_on_the_target_volume')",
                    "schema": {
                      "properties": {
                        "etag": {
                          "type": "string"
                        },
                        "id": {
                          "type": "string"
                        },
                        "location": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "properties": {
                          "properties": {
                            "baremetalTenantId": {
                              "type": "string"
                            },
                            "creationToken": {
                              "type": "string"
                            },
                            "exportPolicy": {
                              "properties": {
                                "rules": {
                                  "items": {
                                    "properties": {
                                      "allowedClients": {
                                        "type": "string"
                                      },
                                      "cifs": {
                                        "type": "boolean"
                                      },
                                      "nfsv3": {
                                        "type": "boolean"
                                      },
                                      "nfsv4": {
                                        "type": "boolean"
                                      },
                                      "ruleIndex": {
                                        "type": "integer"
                                      },
                                      "unixReadOnly": {
                                        "type": "boolean"
                                      },
                                      "unixReadWrite": {
                                        "type": "boolean"
                                      }
                                    },
                                    "required": [
                                      "ruleIndex",
                                      "unixReadOnly",
                                      "unixReadWrite",
                                      "allowedClients"
                                    ],
                                    "type": "object"
                                  },
                                  "type": "array"
                                }
                              },
                              "type": "object"
                            },
                            "fileSystemId": {
                              "type": "string"
                            },
                            "mountTargets": {
                              "items": {
                                "properties": {
                                  "endIp": {
                                    "type": "string"
                                  },
                                  "fileSystemId": {
                                    "type": "string"
                                  },
                                  "gateway": {
                                    "type": "string"
                                  },
                                  "ipAddress": {
                                    "type": "string"
                                  },
                                  "mountTargetId": {
                                    "type": "string"
                                  },
                                  "netmask": {
                                    "type": "string"
                                  },
                                  "provisioningState": {
                                    "type": "string"
                                  },
                                  "startIp": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "provisioningState",
                                  "mountTargetId",
                                  "fileSystemId",
                                  "startIp",
                                  "endIp",
                                  "gateway",
                                  "netmask",
                                  "ipAddress"
                                ],
                                "type": "object"
                              },
                              "type": "array"
                            },
                            "name": {
                              "type": "string"
                            },
                            "ownerId": {
                              "type": "string"
                            },
                            "protocolTypes": {
                              "items": {
                                "type": "string"
                              },
                              "type": "array"
                            },
                            "provisioningState": {
                              "type": "string"
                            },
                            "serviceLevel": {
                              "type": "string"
                            },
                            "snapshotPolicy": {
                              "properties": {
                                "enabled": {
                                  "type": "boolean"
                                }
                              },
                              "type": "object"
                            },
                            "subnetId": {
                              "type": "string"
                            },
                            "usageThreshold": {
                              "type": "integer"
                            },
                            "usedBytes": {
                              "type": "integer"
                            }
                          },
                          "type": "object"
                        },
                        "tags": {
                          "properties": {},
                          "type": "object"
                        },
                        "type": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  }
                },
                "Parse_JSON_-_Retrieve_target_volume_fileSystemId": {
                  "runAfter": {
                    "HTTP_-_Retrieve_target_volume_fileSystemId": ["Succeeded"]
                  },
                  "type": "ParseJson",
                  "inputs": {
                    "content": "@body('HTTP_-_Retrieve_target_volume_fileSystemId')",
                    "schema": {
                      "properties": {
                        "etag": {
                          "type": "string"
                        },
                        "id": {
                          "type": "string"
                        },
                        "location": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "properties": {
                          "properties": {
                            "baremetalTenantId": {
                              "type": "string"
                            },
                            "creationToken": {
                              "type": "string"
                            },
                            "exportPolicy": {
                              "properties": {
                                "rules": {
                                  "items": {
                                    "properties": {
                                      "allowedClients": {
                                        "type": "string"
                                      },
                                      "cifs": {
                                        "type": "boolean"
                                      },
                                      "nfsv3": {
                                        "type": "boolean"
                                      },
                                      "nfsv4": {
                                        "type": "boolean"
                                      },
                                      "ruleIndex": {
                                        "type": "integer"
                                      },
                                      "unixReadOnly": {
                                        "type": "boolean"
                                      },
                                      "unixReadWrite": {
                                        "type": "boolean"
                                      }
                                    },
                                    "required": [
                                      "ruleIndex",
                                      "unixReadOnly",
                                      "unixReadWrite",
                                      "allowedClients"
                                    ],
                                    "type": "object"
                                  },
                                  "type": "array"
                                }
                              },
                              "type": "object"
                            },
                            "fileSystemId": {
                              "type": "string"
                            },
                            "mountTargets": {
                              "items": {
                                "properties": {
                                  "endIp": {
                                    "type": "string"
                                  },
                                  "fileSystemId": {
                                    "type": "string"
                                  },
                                  "gateway": {
                                    "type": "string"
                                  },
                                  "ipAddress": {
                                    "type": "string"
                                  },
                                  "mountTargetId": {
                                    "type": "string"
                                  },
                                  "netmask": {
                                    "type": "string"
                                  },
                                  "provisioningState": {
                                    "type": "string"
                                  },
                                  "startIp": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "provisioningState",
                                  "mountTargetId",
                                  "fileSystemId",
                                  "startIp",
                                  "endIp",
                                  "gateway",
                                  "netmask",
                                  "ipAddress"
                                ],
                                "type": "object"
                              },
                              "type": "array"
                            },
                            "name": {
                              "type": "string"
                            },
                            "ownerId": {
                              "type": "string"
                            },
                            "protocolTypes": {
                              "items": {
                                "type": "string"
                              },
                              "type": "array"
                            },
                            "provisioningState": {
                              "type": "string"
                            },
                            "serviceLevel": {
                              "type": "string"
                            },
                            "snapshotPolicy": {
                              "properties": {
                                "enabled": {
                                  "type": "boolean"
                                }
                              },
                              "type": "object"
                            },
                            "subnetId": {
                              "type": "string"
                            },
                            "usageThreshold": {
                              "type": "integer"
                            },
                            "usedBytes": {
                              "type": "integer"
                            }
                          },
                          "type": "object"
                        },
                        "tags": {
                          "properties": {},
                          "type": "object"
                        },
                        "type": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  }
                },
                "Scheduler_House_Keeping_Logic_v2": {
                  "actions": {
                    "Condition_-_Check_if_snapshots_exceed_retention": {
                      "actions": {
                        "HTTP": {
                          "runAfter": {},
                          "type": "Http",
                          "inputs": {
                            "authentication": {
                              "type": "ManagedServiceIdentity"
                            },
                            "method": "DELETE",
                            "uri": "https://management.azure.com/subscriptions/@{variables('subscriptionId')}/resourceGroups/@{variables('resourceGroup')}/providers/Microsoft.NetApp/netAppAccounts/@{variables('netappAccount')}/capacityPools/@{variables('capacityPool')}/volumes/@{items('For_each_ANF_volume_-_Run_logic')}/snapshots/@{first(variables('scopedSnapshotArray'))}?api-version=2019-11-01"
                          }
                        },
                        "Set_variable_-_Clear_scoped_snapshotsArray": {
                          "runAfter": {
                            "HTTP": ["Succeeded"]
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "scopedSnapshotArray",
                            "value": []
                          }
                        }
                      },
                      "runAfter": {
                        "Set_variable_-_Set_in_scope_snapshots_only": [
                          "Succeeded"
                        ]
                      },
                      "expression": {
                        "and": [
                          {
                            "greater": [
                              "@length(variables('scopedSnapshotArray'))",
                              "@variables('snapshotRetention')"
                            ]
                          }
                        ]
                      },
                      "type": "If"
                    },
                    "Filter_array_-_Scope_snapshot_actions_to_matching_scheduler_prefix_only": {
                      "runAfter": {
                        "For_each_-_Store_all_snapshots_on_target_volume_in_the_array": [
                          "Succeeded"
                        ]
                      },
                      "type": "Query",
                      "inputs": {
                        "from": "@variables('snapshotArray')",
                        "where": "@contains(item(), variables('snapshotPrefix'))"
                      }
                    },
                    "For_each_-_Store_all_snapshots_on_target_volume_in_the_array": {
                      "foreach": "@body('Parse_JSON_-_Get_all_snapshots_on_target_volume')?['value']",
                      "actions": {
                        "Append_to_array_variable": {
                          "runAfter": {},
                          "type": "AppendToArrayVariable",
                          "inputs": {
                            "name": "snapshotArray",
                            "value": "@items('For_each_-_Store_all_snapshots_on_target_volume_in_the_array')?['properties']?['name']"
                          }
                        }
                      },
                      "runAfter": {
                        "Parse_JSON_-_Get_all_snapshots_on_target_volume": [
                          "Succeeded"
                        ]
                      },
                      "type": "Foreach",
                      "runtimeConfiguration": {
                        "concurrency": {
                          "repetitions": 1
                        }
                      }
                    },
                    "HTTP_-_Get_all_snapshots_on_target_volume": {
                      "runAfter": {},
                      "type": "Http",
                      "inputs": {
                        "authentication": {
                          "type": "ManagedServiceIdentity"
                        },
                        "method": "GET",
                        "uri": "https://management.azure.com/subscriptions/@{variables('subscriptionId')}/resourceGroups/@{variables('resourceGroup')}/providers/Microsoft.NetApp/netAppAccounts/@{variables('netappAccount')}/capacityPools/@{variables('capacityPool')}/volumes/@{items('For_each_ANF_volume_-_Run_logic')}/snapshots?api-version=2019-11-01"
                      }
                    },
                    "Parse_JSON_-_Get_all_snapshots_on_target_volume": {
                      "runAfter": {
                        "HTTP_-_Get_all_snapshots_on_target_volume": [
                          "Succeeded"
                        ]
                      },
                      "type": "ParseJson",
                      "inputs": {
                        "content": "@body('HTTP_-_Get_all_snapshots_on_target_volume')",
                        "schema": {
                          "properties": {
                            "value": {
                              "items": {
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "location": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "properties": {
                                    "properties": {
                                      "created": {
                                        "type": "string"
                                      },
                                      "fileSystemId": {
                                        "type": "string"
                                      },
                                      "name": {
                                        "type": "string"
                                      },
                                      "provisioningState": {
                                        "type": "string"
                                      },
                                      "snapshotId": {
                                        "type": "string"
                                      }
                                    },
                                    "type": "object"
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "id",
                                  "name",
                                  "type",
                                  "location",
                                  "properties"
                                ],
                                "type": "object"
                              },
                              "type": "array"
                            }
                          },
                          "type": "object"
                        }
                      }
                    },
                    "Set_variable_-_Set_in_scope_snapshots_only": {
                      "runAfter": {
                        "Filter_array_-_Scope_snapshot_actions_to_matching_scheduler_prefix_only": [
                          "Succeeded"
                        ]
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "scopedSnapshotArray",
                        "value": "@body('Filter_array_-_Scope_snapshot_actions_to_matching_scheduler_prefix_only')"
                      }
                    }
                  },
                  "runAfter": {
                    "HTTP_-_Create_snapshot_on_target_ANF_volume": ["Succeeded"]
                  },
                  "else": {
                    "actions": {
                      "Report_error_message_to_runtime": {
                        "runAfter": {
                          "Report_error_status_to_runtime": ["Succeeded"]
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "errorMessage",
                          "value": "Snapshot generation failed on the following volume: @{items('For_each_ANF_volume_-_Run_logic')}. Check the logs for more information"
                        }
                      },
                      "Report_error_status_to_runtime": {
                        "runAfter": {},
                        "type": "SetVariable",
                        "inputs": {
                          "name": "stateOK",
                          "value": false
                        }
                      }
                    }
                  },
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@outputs('HTTP_-_Create_snapshot_on_target_ANF_volume')['statusCode']",
                          201
                        ]
                      }
                    ]
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "Initialize_variable_-_snapshotName_[DO_NOT_EDIT]": [
                  "Succeeded"
                ]
              },
              "type": "Foreach",
              "runtimeConfiguration": {
                "concurrency": {
                  "repetitions": 1
                }
              }
            },
            "Initialize_variable_-_Scoped_Snapshot_Array_-_[DO_NOT_EDIT]": {
              "runAfter": {
                "Initialize_variable_-_Snapshot_Array_-_[DO_NOT_EDIT]": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "scopedSnapshotArray",
                    "type": "array"
                  }
                ]
              }
            },
            "Initialize_variable_-_Snapshot_Array_-_[DO_NOT_EDIT]": {
              "runAfter": {
                "Initialize_variable_-_firstSnapshot_[DO_NOT_EDIT]": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "snapshotArray",
                    "type": "array"
                  }
                ]
              }
            },
            "Initialize_variable_-_errorMessage_[DO_NOT_EDIT]": {
              "runAfter": {
                "Initialize_variable_-_state_[DO_NOT_EDIT]": ["Succeeded"]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "errorMessage",
                    "type": "string"
                  }
                ]
              }
            },
            "Initialize_variable_-_firstSnapshot_[DO_NOT_EDIT]": {
              "runAfter": {
                "User_Configuration_-_Snapshot_Retention": ["Succeeded"]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "snapshotItem",
                    "type": "integer",
                    "value": 0
                  }
                ]
              }
            },
            "Initialize_variable_-_snapshotName_[DO_NOT_EDIT]": {
              "runAfter": {
                "Initialize_variable_-_errorMessage_[DO_NOT_EDIT]": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "snapshotName",
                    "type": "string",
                    "value": "@{variables('snapshotPrefix')}-@{ticks(utcNow())}"
                  }
                ]
              }
            },
            "Initialize_variable_-_state_[DO_NOT_EDIT]": {
              "runAfter": {
                "Initialize_variable_-_Scoped_Snapshot_Array_-_[DO_NOT_EDIT]": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "stateOK",
                    "type": "boolean",
                    "value": true
                  }
                ]
              }
            },
            "User_Configuration_-_Capacity_Pool": {
              "runAfter": {
                "User_Configuration_-_Resource_Group": ["Succeeded"]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "capacityPool",
                    "type": "String",
                    "value": "[parameters('Capacity Pool')]"
                  }
                ]
              }
            },
            "User_Configuration_-_NetApp_Account": {
              "runAfter": {
                "User_Configuration_-_Subscription_ID": ["Succeeded"]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "netappAccount",
                    "type": "String",
                    "value": "[parameters('NetApp Account Name')]"
                  }
                ]
              }
            },
            "User_Configuration_-_Resource_Group": {
              "runAfter": {
                "User_Configuration_-_NetApp_Account": ["Succeeded"]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "resourceGroup",
                    "type": "String",
                    "value": "[parameters('Resource Group')]"
                  }
                ]
              }
            },
            "User_Configuration_-_Snapshot_Prefix": {
              "runAfter": {
                "User_Configuration_-_Volume(s)_Name": ["Succeeded"]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "snapshotPrefix",
                    "type": "string",
                    "value": "[parameters('Snapshot Prefix')]"
                  }
                ]
              }
            },
            "User_Configuration_-_Snapshot_Retention": {
              "runAfter": {
                "User_Configuration_-_Snapshot_Prefix": ["Succeeded"]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "snapshotRetention",
                    "type": "Integer",
                    "value": "[int(parameters('Snapshot Retention'))]"
                  }
                ]
              }
            },
            "User_Configuration_-_Subscription_ID": {
              "runAfter": {},
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "subscriptionId",
                    "type": "String",
                    "value": "[parameters('Subscription ID')]"
                  }
                ]
              }
            },
            "User_Configuration_-_Volume(s)_Name": {
              "runAfter": {
                "User_Configuration_-_Capacity_Pool": ["Succeeded"]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "volName",
                    "type": "array",
                    "value": "[parameters('Volumes')]"
                  }
                ]
              }
            }
          },
          "outputs": {}
        },
        "parameters": {}
      }
    }
  ]
}
